{{#*inline "page_content"}}
<div
    class="border-b bg-white border-gray-300 pl-6 py-2 shadow-sm  text-xl font-bold">
    Dashboard
    <span class="block text-xs font-normal text-gray-300 mt-2">
        <span>Dashboard</span>
    </span>
</div>
<div>
    <!-- -->
    <div class="bg-gray-100"></div>
    <div class="bg-gray-100"></div>
</div>
{{/inline}}

{{> layout/app}}
