{{#*inline "page_content"}}
<div class="min-h-screen bg-gray-100 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                You are not Logged In
            </h2>
            <p class="mt-5 text-center  text-gray-600 max-w">
                <a href="/admin/login" class="font-medium text-blue-600 hover:text-blue-500">
                    Login
                </a>
            </p>
        </div>
    </div>
</div>
{{/inline}}

{{> layout/guest}}
