<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/app.css" rel="stylesheet">
    <script src="/public/js/app.js"></script>
</head>
<body class="antialiased bg-slate-50">
{{>page_content}}
</body>
</html>
