<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32"
      href="/public/images/favicon.ico">

    <link href="/public/css/app.css" rel="stylesheet">
  </head>
  <body class="antialiased bg-slate-50">
    <div class="flex w-full min-h-screen">
      <div class="w-64 border-r">
        <div class="h-16 border">
          <div class="mt-2 ml-3 flex items-center">
            <img src="/public/images/logo_only.svg" class="h-12" />
            <span class="text-primary-600 text-2xl font-semibold">AvoRed</span>
          </div>
        </div>
        <div classs="mt-5 ml-3">
          <div class="mt-3 border-b">
            <a
              class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg hover:bg-gray-100 hover:text-primary-500"
              href="#">
              <span class="mx-2 text-sm font-medium">
                Dashboard
              </span>
            </a>
          </div>

          <div class="mt-3 border-b">
            <a
              class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg hover:bg-gray-100  hover:text-primary-700"
              href="#">
              <span class="mx-2 text-sm font-medium">
                Users
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="flex-1 p-3">
        {{>page_content}}
      </div>
    </div>
  </body>
</html>
