{{#*inline "page_content"}}
<div
    class="border-b bg-white border-gray-300 px-6 py-2 shadow-sm  text-xl font-bold">
    <div class="h-14 min-h-fit sm:flex sm:items-center sm:justify-between">
        <div>
            <div class="flex items-center">
                <h2
                    class="text-lg font-medium text-gray-800 dark:text-white">
                    {{translate_key "create_page" ~}}
                </h2>
            </div>
        </div>

    </div>

</div>
<div>
    <!-- -->
    <div x-data="page_builder" class="px-4">
        <form  action="/admin/store-page" method="post">
            <div class="my-6 flex w-full  justify-center items-center border border-dotted">
                <div class="p-3 flex items-center">
                    <i data-feather="plus" class="h-4 w-4"></i>
                    <span class="ml-3">
                        <button type="button" @click="addSectionOnClick">
                            Add Section
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
{{/inline}}

{{> layout/app}}
