name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: Swatinem/rust-cache@v2.4.0
    - name: Build
      run: cargo build --verbose
    - name: Run releases
      run: cargo build --release
    - name: Copy files via ssh
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        source: "./target/release"
        target: ${{ secrets.RUST_TARGET_PATH }}
#    - name: change file ownership
#      uses: appleboy/ssh-action@v1.0.3
#      with:
#        host: ${{ secrets.HOST }}
#        username: ${{ secrets.USERNAME }}
#        key: ${{ secrets.SSH_KEY }}
#        port: ${{ secrets.PORT }}
#        script: sudo chown -R www-data:www-data ${{ secrets.RUST_TARGET_PATH}}
        
